/* .detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #4dafe8a6;
    width: 100%;
    height: 100%;
}

.pokemon{
    box-sizing: border-box;
    background-color: aquamarine;
    color: #1299cf;
    border-radius: 1em;
    padding: 0.7em;
    text-align: center;
    width: 60%;
}

.mid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.detail_img{
    height: 100%;
    background-color: antiquewhite;
    border-radius: 1em;
    width: fit-content;
}

.table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 1em;
    background-color: cadetblue;
    border-radius: 1em;
    width: auto;
    box-sizing: border-box;
    
}
.rows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    color: #53e546;
    text-shadow: 7px 7px 7px #41414a;
}
.value{
    color: #fff;
    font-weight: 600;
}

.types{
    display: flex;
    gap: 1em;
}
.type{
    padding: .3em;
    border-radius: .3em;
}
@media (max-width:950px) {
    .head{
        width: 100%;
        height: 10%;
        gap: 1em;
        box-sizing: border-box;
    }
    .mid{
        flex-direction: column;
        width: 80%;        
    }
    .img{
        height: fit-content;
        width: 100%;
    }
    .table{
        width: 100%;
    }
} */

.detail{
    width: 100vw;
    min-height: 100vh;

    background-color: #4dafe8a6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.mid{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon{
    padding: 0.7em;
    border-radius: 1em;

    background-color: aquamarine;
    color: #1299cf;
    text-align: center;
}
.detail_img{
    width: fit-content;
    height: 100%;

    background-color: antiquewhite;
    border-radius: 1em;
}
.table{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 1em;
    background-color: cadetblue;
    border-radius: 1em;
    height: 100%;
}
.loading{
    width: 100%;

    display: flex;
    place-content: center;
}

.rows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    color: #53e546;
    text-shadow: 7px 7px 7px #41414a;
}
.value{
    color: #fff;
    font-weight: 600;
}

.types{
    display: flex;
    gap: 1em;
}
.type{
    padding: .3em;
    border-radius: .3em;
}