.divSearch{
    height: 50%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.692);
    padding: 0.4em;
    border-radius: 1em;
    gap: 0.6em;
    .snorlax{
        height: 2em;
    }
    .input{
        height: 100%;
        width: 80%;
        border-radius: 0.6em;
    }
    .button{
        height: 100%;
        border: none;
        background: none;
        cursor: pointer;
    }
}

@media (max-width: 900px) {
  
    .divSearch {
      width: 100%;
    }
}